@import url("https://fonts.googleapis.com/css2?family=Tauri&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Tauri", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.parallax-container {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/model-homebanner.jpg");
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;

  text-align: center;
}

.buffer {
  width: 100%;
  min-height: 80vh;
  background-color: var(--color);
}
