@import url("https://fonts.googleapis.com/css2?family=Tauri&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
  @apply border-2 border-pink-700
}
* {
  font-family: "Tauri", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.parallax-container {
  position: relative;
  display: flex;
  min-height: 45vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/model-homebanner.jpg");
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;
  text-align: center;
}
@media (min-width: 650px) {
  .parallax-container {
    min-height: 40vh; /* Change min-height for medium-sized screens (md) */
  }
}
@media (min-width: 768px) {
  .parallax-container {
    min-height: 50vh; /* Change min-height for medium-sized screens (md) */
  }
}
@media (min-width: 1024px) {
  .parallax-container {
    min-height: 55vh; /* Change min-height for medium-sized screens (md) */
  }
}
@media (min-width: 1280px) {
  .parallax-container {
    min-height: 55vh; /* Change min-height for medium-sized screens (md) */
  }
}
@media (min-width: 1536px) {
  .parallax-container {
    min-height: 60vh; /* Change min-height for medium-sized screens (md) */
  }
}
